/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: larger;
  margin: 0 5%;
}

article {

}

h1 {
  font-size: xx-large;
}

h2 {

}

img {
  max-width: 100%;
}

main {

}

section {
  display: flex;
  flex-direction: column;
}

figure {
  margin: 0;
}

figcaption {
  font-size: .8em;
}

@media screen and (max-width: 800px) {
  body {
    background: rgba(177, 54, 38, 0.911);
    margin: 25px 6%;
  }

  figure {
    width: 45%;
    margin-right: 4.5%;
  }
}


@media screen and (min-width: 1020px) {
  body {
    background: rgba(0,255,0,.2);
    margin: 25px 10%;
    max-width: 1130px;
  }

  figure {
    width: 30%;
    margin-right: 2.5%;
  }
}